<?xml version="1.0" ?>
<config>

    <modules>
        <Aidalab_Cdata>
            <version>0.0.1</version>
        </Aidalab_Cdata>
    </modules>
    <frontend>
        <routers>
        <aidalabcdataconfig>
            <use>standard</use>
            <args>
                <module>Aidalab_Cdata</module>
                <frontName>clist</frontName>

            </args>
        </aidalabcdataconfig>>

    </routers>
    </frontend>

    <global>

        <helpers>
            <cdata>
                <class>Aidalab_Cdata_Helper</class>
            </cdata>
        </helpers>
    </global>
</config>